seo-agent/workflow.json
{
  "name": "דוח SEO שבועי - HloMedia",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [5],
              "triggerAtHour": 22
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "כל שישי 22:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 400]
    },
    {
      "parameters": {
        "resource": "searchAnalytics",
        "operation": "query",
        "siteUrl": "https://www.hlo-media.com/",
        "additionalFields": {
          "startDate": "={{ $now.minus({days: 7}).toFormat('yyyy-MM-dd') }}",
          "endDate": "={{ $now.toFormat('yyyy-MM-dd') }}",
          "dimensions": ["query", "page"],
          "rowLimit": 100
        }
      },
      "id": "gsc-query",
      "name": "שלוף נתונים מ-GSC",
      "type": "n8n-nodes-base.googleSearchConsole",
      "typeVersion": 1,
      "position": [400, 400],
      "credentials": {
        "googleSearchConsoleOAuth2Api": {
          "id": "REPLACE_AFTER_OAUTH",
          "name": "GSC - HloMedia"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.hlo-media.com/leads-summary.php",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "site_slug", "value": "hlomedia"},
            {"name": "days", "value": "7"}
          ]
        },
        "options": {}
      },
      "id": "leads-fetch",
      "name": "שלוף לידי השבוע",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_AFTER_SETUP",
          "name": "SEO Platform API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// === Aggregate GSC + leads data for Claude ===\nconst gscData = $('שלוף נתונים מ-GSC').all();\nconst leadsData = $('שלוף לידי השבוע').first().json;\n\nlet totalClicks = 0;\nlet totalImpressions = 0;\nconst queries = [];\n\nfor (const row of gscData) {\n  const data = row.json;\n  totalClicks += data.clicks || 0;\n  totalImpressions += data.impressions || 0;\n\n  if (data.keys && data.keys[0]) {\n    queries.push({\n      query: data.keys[0],\n      page: data.keys[1] || '',\n      clicks: data.clicks || 0,\n      impressions: data.impressions || 0,\n      position: data.position || 0,\n      ctr: data.ctr || 0\n    });\n  }\n}\n\n// Opportunities = rank 11-30 with decent impressions (close to page 1)\nconst opportunities = queries\n  .filter(q => q.position >= 11 && q.position <= 30 && q.impressions >= 5)\n  .sort((a, b) => b.impressions - a.impressions)\n  .slice(0, 10);\n\n// Top-ranked = already in top 10\nconst topRanked = queries\n  .filter(q => q.position <= 10)\n  .sort((a, b) => a.position - b.position)\n  .slice(0, 10);\n\n// Low-CTR pages = good ranking but bad meta/snippet (high impressions, low CTR)\nconst lowCtrPages = queries\n  .filter(q => q.impressions >= 20 && q.ctr < 0.02)\n  .sort((a, b) => b.impressions - a.impressions)\n  .slice(0, 5);\n\nreturn [{\n  json: {\n    period: {\n      from: $now.minus({days: 7}).toFormat('yyyy-MM-dd'),\n      to: $now.toFormat('yyyy-MM-dd')\n    },\n    gsc_summary: {\n      total_clicks: totalClicks,\n      total_impressions: totalImpressions,\n      avg_ctr: totalImpressions > 0 ? (totalClicks / totalImpressions * 100).toFixed(2) + '%' : '0%',\n      unique_queries: queries.length\n    },\n    opportunities,\n    top_ranked: topRanked,\n    low_ctr_pages: lowCtrPages,\n    leads: leadsData || { total: 0, leads: [] }\n  }\n}];"
      },
      "id": "aggregate-data",
      "name": "צבור נתונים לניתוח",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 400]
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "anthropic-version", "value": "2023-06-01"},
            {"name": "content-type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-opus-4-7\",\n  \"max_tokens\": 8000,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"אתה מומחה SEO ראשי עבור חברת HloMedia - חברת פיתוח תוכנה ושיווק דיגיטלי בתל אביב.\\n\\nהנתונים מהשבוע האחרון:\\n\\n```json\\n\" + JSON.stringify($json, null, 2) + \"\\n```\\n\\nתפקידך לבצע שני דברים:\\n\\n## חלק 1: דוח שבועי\\n\\nכתוב דוח קצר וברור בעברית שכולל:\\n- סיכום ביצועים (clicks, impressions, CTR)\\n- 3 הזדמנויות עיקריות לטיפול השבוע (keywords במקום 11-30)\\n- מה לתקן ומה לחזק\\n- סיכום לידים (כמה נכנסו, מאיפה, איזה כתובת)\\n- המלצה ברורה לפעולה מיידית\\n\\nהדוח צריך להיות 200-300 מילים. ישיר, פרקטי, בלי קישוטים.\\n\\n## חלק 2: מאמר חדש\\n\\nבחר את ההזדמנות הטובה ביותר מתוך opportunities (השילוב הכי טוב של position + impressions) וכתוב מאמר מקצועי באיכות גבוהה.\\n\\nדרישות למאמר:\\n- 800-1200 מילים בעברית מקצועית\\n- מבנה: כותרת H1 → 4-5 פסקאות עם H2 → סיכום\\n- כותב מנקודת מבט של מומחה HloMedia\\n- כולל call-to-action בסוף\\n- בלי clichés של AI (\\\"בעולם הדיגיטלי של היום...\\\")\\n- ערך אמיתי לקורא, לא keyword stuffing\\n- meta title (60 chars max) + meta description (155 chars max)\\n- slug באנגלית, kebab-case, ללא מילים כלליות\\n\\n## פורמט תשובה - חובה JSON תקין בלבד\\n\\n{\\n  \\\"weekly_report\\\": \\\"...הדוח השבועי בעברית...\\\",\\n  \\\"recommended_action\\\": \\\"פעולה אחת ברורה השבוע\\\",\\n  \\\"article\\\": {\\n    \\\"target_keyword\\\": \\\"...\\\",\\n    \\\"title\\\": \\\"כותרת H1\\\",\\n    \\\"meta_title\\\": \\\"...\\\",\\n    \\\"meta_description\\\": \\\"...\\\",\\n    \\\"slug\\\": \\\"english-slug\\\",\\n    \\\"content_html\\\": \\\"<h1>...</h1><p>...</p><h2>...</h2>...\\\",\\n    \\\"word_count\\\": 1050\\n  }\\n}\\n\\nתחזיר רק את ה-JSON, בלי שום טקסט נוסף, בלי markdown fences.\"\n    }\n  ]\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "claude-analyze",
      "name": "Claude מנתח וכותב",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_AFTER_SETUP",
          "name": "Claude API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// === Parse Claude's response ===\nconst response = $input.first().json;\nconst contentText = response.content[0].text;\n\n// Strip any markdown code fences just in case Claude added them\nconst cleanJson = contentText\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/, '')\n  .replace(/```\\s*$/, '')\n  .trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleanJson);\n} catch (e) {\n  throw new Error('Failed to parse Claude response: ' + e.message + '\\n\\nRaw (first 500 chars):\\n' + contentText.slice(0, 500));\n}\n\nconst timestamp = Math.floor(Date.now() / 1000);\nconst filename = `article-${timestamp}.php`;\n\nreturn [{\n  json: {\n    timestamp,\n    filename,\n    weekly_report: parsed.weekly_report,\n    recommended_action: parsed.recommended_action,\n    article: parsed.article,\n    file_path: `blog/${filename}`,\n    branch_name: `agent/article-${timestamp}`,\n    commit_message: `feat(blog): article on \"${parsed.article.target_keyword}\"`,\n    pr_title: `🤖 SEO Agent: ${parsed.article.title}`,\n    pr_body: `Target keyword: **${parsed.article.target_keyword}**\\nWord count: ${parsed.article.word_count}\\n\\n## Weekly report\\n\\n${parsed.weekly_report}\\n\\n## Recommended action\\n\\n${parsed.recommended_action}\\n\\n---\\nGenerated by SEO Agent — review the file, edit if needed, then merge to publish.`\n  }\n}];"
      },
      "id": "parse-claude",
      "name": "פרק תשובת Claude",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 400]
    },
    {
      "parameters": {
        "jsCode": "// === Build the article PHP file from template + Claude content ===\nconst data = $input.first().json;\nconst article = data.article;\nconst publishedIso = new Date().toISOString();\n\n// Self-contained PHP article. Mirrors the existing /blog/article-*.php style\n// so it works alongside the 144 existing articles without needing /includes/\n// (which the current blog folder doesn't reference).\nconst phpContent = `<?php\n// Article generated by SEO Agent on ${publishedIso}\n// Target keyword: ${article.target_keyword}\n// Word count: ${article.word_count}\n?>\n<!DOCTYPE html>\n<html lang=\"he\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n    <meta name=\"description\" content=${JSON.stringify(article.meta_description)}>\n    <meta name=\"keywords\" content=${JSON.stringify(article.target_keyword)}>\n    <meta name=\"author\" content=\"HloMedia\">\n    <meta name=\"robots\" content=\"index, follow, max-image-preview:large\">\n\n    <link rel=\"canonical\" href=\"https://www.hlo-media.com/blog/${data.filename}\">\n\n    <meta property=\"og:type\" content=\"article\">\n    <meta property=\"og:site_name\" content=\"HloMedia\">\n    <meta property=\"og:locale\" content=\"he_IL\">\n    <meta property=\"og:title\" content=${JSON.stringify(article.meta_title)}>\n    <meta property=\"og:description\" content=${JSON.stringify(article.meta_description)}>\n    <meta property=\"og:image\" content=\"https://www.hlo-media.com/assets/images/og.jpg\">\n    <meta property=\"og:url\" content=\"https://www.hlo-media.com/blog/${data.filename}\">\n    <meta property=\"article:published_time\" content=\"${publishedIso}\">\n\n    <meta name=\"twitter:card\" content=\"summary_large_image\">\n    <meta name=\"twitter:title\" content=${JSON.stringify(article.meta_title)}>\n    <meta name=\"twitter:description\" content=${JSON.stringify(article.meta_description)}>\n    <meta name=\"twitter:image\" content=\"https://www.hlo-media.com/assets/images/og.jpg\">\n\n    <script type=\"application/ld+json\">\n    {\n      \"@context\": \"https://schema.org\",\n      \"@type\": \"Article\",\n      \"headline\": ${JSON.stringify(article.title)},\n      \"description\": ${JSON.stringify(article.meta_description)},\n      \"datePublished\": \"${publishedIso}\",\n      \"dateModified\": \"${publishedIso}\",\n      \"author\": { \"@type\": \"Organization\", \"name\": \"HloMedia\" },\n      \"publisher\": {\n        \"@type\": \"Organization\",\n        \"name\": \"HloMedia\",\n        \"logo\": { \"@type\": \"ImageObject\", \"url\": \"https://www.hlo-media.com/assets/images/logo_1.jpg\" }\n      },\n      \"mainEntityOfPage\": { \"@type\": \"WebPage\", \"@id\": \"https://www.hlo-media.com/blog/${data.filename}\" },\n      \"image\": \"https://www.hlo-media.com/assets/images/og.jpg\",\n      \"inLanguage\": \"he-IL\"\n    }\n    </script>\n    <script type=\"application/ld+json\">\n    {\n      \"@context\": \"https://schema.org\",\n      \"@type\": \"BreadcrumbList\",\n      \"itemListElement\": [\n        { \"@type\": \"ListItem\", \"position\": 1, \"name\": \"דף הבית\", \"item\": \"https://www.hlo-media.com/\" },\n        { \"@type\": \"ListItem\", \"position\": 2, \"name\": \"בלוג\", \"item\": \"https://www.hlo-media.com/#blog\" },\n        { \"@type\": \"ListItem\", \"position\": 3, \"name\": ${JSON.stringify(article.title)}, \"item\": \"https://www.hlo-media.com/blog/${data.filename}\" }\n      ]\n    }\n    </script>\n\n    <script async src=\"https://www.googletagmanager.com/gtag/js?id=G-FDD7G7KZ8W\"></script>\n    <script>\n      window.dataLayer = window.dataLayer || [];\n      function gtag(){dataLayer.push(arguments);}\n      gtag('js', new Date());\n      gtag('config', 'G-FDD7G7KZ8W', { page_path: window.location.pathname, anonymize_ip: true });\n    </script>\n\n    <link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n    <link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n    <link href=\"https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap\" rel=\"stylesheet\">\n    <link href=\"../vendor/bootstrap/css/bootstrap.min.css\" rel=\"stylesheet\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css\">\n    <link rel=\"stylesheet\" href=\"../assets/css/fontawesome.css\">\n    <link rel=\"stylesheet\" href=\"../assets/css/templatemo-digimedia-v1.css\">\n    <link rel=\"stylesheet\" href=\"../assets/css/main.css\">\n    <link rel=\"stylesheet\" href=\"../assets/css/blog.css\">\n    <link rel=\"stylesheet\" href=\"../assets/css/ui-enhance.css\">\n    <link rel=\"icon\" type=\"image/png\" sizes=\"32x32\" href=\"../assets/images/favicon.png\">\n    <title>${article.meta_title}</title>\n</head>\n<body dir=\"rtl\">\n\n    <header class=\"header-area header-sticky\" style=\"position:relative\">\n        <div class=\"container\">\n            <div class=\"row\">\n                <div class=\"col-12 p-0\">\n                    <nav class=\"main-nav\">\n                        <a href=\"../index.php\" class=\"logo\" style=\"margin-left:20px\" aria-label=\"הלו מדיה - דף הבית\">\n                            <img src=\"../assets/images/logo_1.jpg\" alt=\"הלו מדיה\" id=\"logo\">\n                        </a>\n                    </nav>\n                    <ul>\n                        <li class=\"pink-btn\" style=\"position:absolute;right:10px;top:25px;\">\n                            <div class=\"btn btn-light\" style=\"padding:10px 20px;border-radius:10px;background-color:#fa65b1;\">\n                                <a href=\"../index.php\" style=\"color:white;text-decoration:none;font-weight:bold;\">חזרה לאתר</a>\n                            </div>\n                        </li>\n                    </ul>\n                </div>\n            </div>\n        </div>\n    </header>\n\n    <article class=\"blog-article container\" style=\"max-width:800px;margin:80px auto;padding:20px;line-height:1.8;\">\n${article.content_html}\n\n        <div class=\"article-cta\" style=\"background:linear-gradient(135deg,rgba(250,101,177,0.08),rgba(114,106,227,0.08));padding:32px;border-radius:18px;margin-top:48px;text-align:center;\">\n            <h3 style=\"color:#1a1a1f;margin-bottom:12px;\">צריכים עזרה בנושא הזה?</h3>\n            <p style=\"color:#555;margin-bottom:20px;\">צוות HloMedia כאן בשבילכם - ייעוץ ראשוני חינם, ללא התחייבות.</p>\n            <a href=\"../index.php#contact\" style=\"display:inline-block;background:linear-gradient(135deg,#fa65b1,#726ae3);color:#fff;padding:14px 32px;border-radius:999px;text-decoration:none;font-weight:600;box-shadow:0 10px 25px rgba(250,101,177,0.28);\">קבלו הצעת מחיר חינם ←</a>\n        </div>\n    </article>\n\n    <div class=\"whatsapp\">\n        <a href=\"https://wa.me/972526814747\" target=\"_blank\" rel=\"noopener\" aria-label=\"וואטסאפ\">\n            <i class=\"fa fab fa-whatsapp\" aria-hidden=\"true\"></i>\n        </a>\n    </div>\n\n    <footer>\n        <div class=\"container\">\n            <div class=\"row\">\n                <div class=\"col-lg-12\">\n                    <p style=\"text-align:center;\">כל הזכויות שמורות ל הלו-מדיה. © <?= date(\"Y\"); ?> |\n                        <a href=\"tel:+972526814747\">052-681-4747</a> |\n                        <a href=\"mailto:hlomedia.office@gmail.com\">hlomedia.office@gmail.com</a>\n                    </p>\n                </div>\n            </div>\n        </div>\n    </footer>\n</body>\n</html>\n`;\n\nreturn [{\n  json: {\n    ...data,\n    php_content: phpContent,\n    php_content_base64: Buffer.from(phpContent, 'utf8').toString('base64')\n  }\n}];"
      },
      "id": "build-php",
      "name": "בנה קובץ PHP",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 400]
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/idanedri27/hlomedia/git/refs/heads/main",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Accept", "value": "application/vnd.github+json"},
            {"name": "X-GitHub-Api-Version", "value": "2022-11-28"}
          ]
        },
        "options": {}
      },
      "id": "gh-get-main-sha",
      "name": "GitHub: SHA של main",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1600, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_AFTER_SETUP",
          "name": "GitHub API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/idanedri27/hlomedia/git/refs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Accept", "value": "application/vnd.github+json"},
            {"name": "X-GitHub-Api-Version", "value": "2022-11-28"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ref\": \"refs/heads/\" + $('פרק תשובת Claude').first().json.branch_name,\n  \"sha\": $json.object.sha\n}",
        "options": {}
      },
      "id": "gh-create-branch",
      "name": "GitHub: צור branch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1800, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_AFTER_SETUP",
          "name": "GitHub API"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/idanedri27/hlomedia/contents/{{ $('בנה קובץ PHP').first().json.file_path }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "PUT",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Accept", "value": "application/vnd.github+json"},
            {"name": "X-GitHub-Api-Version", "value": "2022-11-28"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": $('בנה קובץ PHP').first().json.commit_message,\n  \"content\": $('בנה קובץ PHP').first().json.php_content_base64,\n  \"branch\": $('בנה קובץ PHP').first().json.branch_name\n}",
        "options": {}
      },
      "id": "gh-put-file",
      "name": "GitHub: דחוף את הקובץ ל-branch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_AFTER_SETUP",
          "name": "GitHub API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/idanedri27/hlomedia/pulls",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Accept", "value": "application/vnd.github+json"},
            {"name": "X-GitHub-Api-Version", "value": "2022-11-28"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": $('פרק תשובת Claude').first().json.pr_title,\n  \"head\": $('פרק תשובת Claude').first().json.branch_name,\n  \"base\": \"main\",\n  \"body\": $('פרק תשובת Claude').first().json.pr_body\n}",
        "options": {}
      },
      "id": "gh-open-pr",
      "name": "GitHub: פתח PR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_AFTER_SETUP",
          "name": "GitHub API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "content-type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"SEO Agent <onboarding@resend.dev>\",\n  \"to\": [\"idanedri27@gmail.com\"],\n  \"subject\": \"📊 דוח SEO שבועי - HloMedia (\" + $now.toFormat('dd/MM/yyyy') + \")\",\n  \"html\": \"<!DOCTYPE html><html dir='rtl' lang='he'><body style='font-family:Arial,sans-serif;max-width:700px;margin:0 auto;padding:30px;direction:rtl;text-align:right;'>\" +\n    \"<h1 style='color:#1e2a78;border-bottom:3px solid #667eea;padding-bottom:12px;'>📊 דוח SEO שבועי - HloMedia</h1>\" +\n    \"<div style='background:#f8fafc;padding:24px;border-radius:8px;margin:20px 0;'>\" +\n    \"<h2 style='color:#667eea;margin-top:0;'>📈 ביצועים השבוע</h2>\" +\n    \"<p style='line-height:1.7;white-space:pre-wrap;'>\" + $('פרק תשובת Claude').first().json.weekly_report.replace(/\\n/g, '<br>') + \"</p>\" +\n    \"</div>\" +\n    \"<div style='background:#fef3c7;border-right:4px solid #f59e0b;padding:20px;border-radius:6px;margin:20px 0;'>\" +\n    \"<h3 style='color:#78350f;margin-top:0;'>🎯 פעולה מומלצת השבוע</h3>\" +\n    \"<p style='color:#451a03;font-size:16px;font-weight:600;'>\" + $('פרק תשובת Claude').first().json.recommended_action + \"</p>\" +\n    \"</div>\" +\n    \"<div style='background:#dbeafe;padding:20px;border-radius:8px;margin:20px 0;'>\" +\n    \"<h3 style='color:#1e40af;margin-top:0;'>✍️ מאמר חדש מחכה לאישור</h3>\" +\n    \"<p><strong>נושא:</strong> \" + $('פרק תשובת Claude').first().json.article.target_keyword + \"</p>\" +\n    \"<p><strong>כותרת:</strong> \" + $('פרק תשובת Claude').first().json.article.title + \"</p>\" +\n    \"<p><strong>מילים:</strong> \" + $('פרק תשובת Claude').first().json.article.word_count + \"</p>\" +\n    \"<p>המאמר נוצר כ-Pull Request ב-GitHub. לאשר ולעשות merge כדי לפרסם:</p>\" +\n    \"<a href='\" + $('GitHub: פתח PR').first().json.html_url + \"' style='display:inline-block;background:#1e40af;color:#fff;padding:12px 24px;border-radius:6px;text-decoration:none;font-weight:600;'>צפה ב-PR ב-GitHub</a>\" +\n    \"</div>\" +\n    \"<p style='color:#6b7280;font-size:12px;margin-top:40px;border-top:1px solid #e5e7eb;padding-top:20px;'>📅 הסוכן הבא יבדוק שוב ביום שישי הבא 22:00<br>SEO Platform v1.0</p>\" +\n    \"</body></html>\"\n}",
        "options": {}
      },
      "id": "send-email",
      "name": "שלח דוח במייל",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2400, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_AFTER_SETUP",
          "name": "Resend API"
        }
      }
    }
  ],
  "connections": {
    "כל שישי 22:00": {
      "main": [[{"node": "שלוף נתונים מ-GSC", "type": "main", "index": 0}]]
    },
    "שלוף נתונים מ-GSC": {
      "main": [[{"node": "שלוף לידי השבוע", "type": "main", "index": 0}]]
    },
    "שלוף לידי השבוע": {
      "main": [[{"node": "צבור נתונים לניתוח", "type": "main", "index": 0}]]
    },
    "צבור נתונים לניתוח": {
      "main": [[{"node": "Claude מנתח וכותב", "type": "main", "index": 0}]]
    },
    "Claude מנתח וכותב": {
      "main": [[{"node": "פרק תשובת Claude", "type": "main", "index": 0}]]
    },
    "פרק תשובת Claude": {
      "main": [[{"node": "בנה קובץ PHP", "type": "main", "index": 0}]]
    },
    "בנה קובץ PHP": {
      "main": [[{"node": "GitHub: SHA של main", "type": "main", "index": 0}]]
    },
    "GitHub: SHA של main": {
      "main": [[{"node": "GitHub: צור branch", "type": "main", "index": 0}]]
    },
    "GitHub: צור branch": {
      "main": [[{"node": "GitHub: דחוף את הקובץ ל-branch", "type": "main", "index": 0}]]
    },
    "GitHub: דחוף את הקובץ ל-branch": {
      "main": [[{"node": "GitHub: פתח PR", "type": "main", "index": 0}]]
    },
    "GitHub: פתח PR": {
      "main": [[{"node": "שלח דוח במייל", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Jerusalem"
  }
}
